<body>
<div class="c">
	{{ template "partials/header" . }}
	<div id="db" class="chin">
		<div class="info sm">
			<h1>Game Database</h1>
      <p class="prose">
        Eventually, all games played will be made available here for download. They will be combined into large monthly
        dump files of all raw PGNs in chronological order.
      </p>
      <p class="prose">
        Until that day we will continue to build the site.
      </p>
		</div>
	</div>
	{{ template "partials/footer" . }}
</div>
</body>
