<body>
<div class="c">
	{{ template "partials/header" . }}
	{{ if and (eq .Data.IsCreator false) (eq .Data.IsJoining false) }}
	<!-- Playing game -->
	{{ template "partials/room/room_game" . }}
	{{ else if eq .Data.IsCreator true }}
	<!-- Creator -->
	{{ template "partials/room/room_creator" . }}
	{{ else if eq .Data.IsJoining true }}
	<!-- Joiner -->
	{{ template "partials/room/room_joiner" . }}
	{{ end }}
	{{ template "partials/footer" . }}
</div>
</body>
{{ template "scripts/base" . }}
{{ if and (eq .Data.IsCreator false) (eq .Data.IsJoining false) }}
<!-- Playing game -->
{{ template "scripts/room" . }}
{{ else if eq .Data.IsCreator true }}
<!-- Creator -->
{{ template "scripts/room_creator" . }}
{{ else if eq .Data.IsJoining true }}
<!-- Joiner -->
{{ template "scripts/room_joiner" . }}
{{ end }}
