/*
 * Green board theme
 */
.green .og-wrap {
	background-image: url('/res/img/board.svg');
}

.green .og-wrap coords.ranks > coord:nth-child(odd) {
	color: #FFFFDF;
}

.green .og-wrap coords.ranks > coord:nth-child(even) {
	color: #93AF6C;
}

.green .og-wrap coords.files > coord:nth-child(odd) {
	color: #FFFFDF;
}

.green .og-wrap coords.files > coord:nth-child(even) {
	color: #93AF6C;
}