@import "@styles/variables.scss";

.body {
	border-radius: 3px;
	background-color: $primary-brown;
	position: relative;
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
		drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.close {
	color: #fff;
	width: 24px;
	height: 24px;
	background: #444;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);

	&:hover,
	&:focus {
		background: #d30020;
		text-decoration: none;
		cursor: pointer;
	}
}
