.body {
	border-radius: 3px;
	background-color: #cca57b;
	position: relative;
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
		drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.close {
	color: #fff;
	width: 24px;
	height: 24px;
	background: #444;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);

	&:hover,
	&:focus {
		background: #d30020;
		text-decoration: none;
		cursor: pointer;
	}
}

.variantBtnContainer {
	margin-top: 0.375rem;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 8px;
	padding: 12px 24px;
	background-color: #f1d8b8;
	border-top: 1px solid #8c6d54;
	border-bottom: 1px solid #8c6d54;

	.variantBtn {
		line-height: 0.75rem;
		font-size: 14px;
		font-weight: 600;

		&:hover,
		&.selected {
			background: #0bab7d;
			color: #fff;
		}

		&:hover {
			border-top-color: #40a487;
			border-left-color: #40a487;
			border-bottom-color: #149d75;
			border-right-color: #149d75;
		}
	}
}

.colorSelectBtn {
	height: 48px;
	width: 64px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	&.big {
		height: 64px;
		width: 80px;
	}

	&.disabled {
		background-color: #aeaeae;
		opacity: 50%;
		pointer-events: none;
	}
}
