[data-piece="alpha"] piece.pawn.white {background-image: url('/res/img/alpha/wP.svg');}
[data-piece="alpha"] piece.knight.white {background-image: url('/res/img/alpha/wN.svg');}
[data-piece="alpha"] piece.bishop.white {background-image: url('/res/img/alpha/wB.svg');}
[data-piece="alpha"] piece.rook.white {background-image: url('/res/img/alpha/wR.svg');}
[data-piece="alpha"] piece.queen.white {background-image: url('/res/img/alpha/wQ.svg');}
[data-piece="alpha"] piece.king.white {background-image: url('/res/img/alpha/wK.svg');}
[data-piece="alpha"] piece.pawn.black {background-image: url('/res/img/alpha/bP.svg');}
[data-piece="alpha"] piece.knight.black {background-image: url('/res/img/alpha/bN.svg');}
[data-piece="alpha"] piece.bishop.black {background-image: url('/res/img/alpha/bB.svg');}
[data-piece="alpha"] piece.rook.black {background-image: url('/res/img/alpha/bR.svg');}
[data-piece="alpha"] piece.queen.black {background-image: url('/res/img/alpha/bQ.svg');}
[data-piece="alpha"] piece.king.black {background-image: url('/res/img/alpha/bK.svg');}
