.cburnett piece.pawn.white {background-image: url('/res/img/cburnett/wP.svg');}
.cburnett piece.knight.white {background-image: url('/res/img/cburnett/wN.svg');}
.cburnett piece.bishop.white {background-image: url('/res/img/cburnett/wB.svg');}
.cburnett piece.rook.white {background-image: url('/res/img/cburnett/wR.svg');}
.cburnett piece.queen.white {background-image: url('/res/img/cburnett/wQ.svg');}
.cburnett piece.king.white {background-image: url('/res/img/cburnett/wK.svg');}
.cburnett piece.pawn.black {background-image: url('/res/img/cburnett/bP.svg');}
.cburnett piece.knight.black {background-image: url('/res/img/cburnett/bN.svg');}
.cburnett piece.bishop.black {background-image: url('/res/img/cburnett/bB.svg');}
.cburnett piece.rook.black {background-image: url('/res/img/cburnett/bR.svg');}
.cburnett piece.queen.black {background-image: url('/res/img/cburnett/bQ.svg');}
.cburnett piece.king.black {background-image: url('/res/img/cburnett/bK.svg');}
