.merida piece.pawn.white {background-image: url('/res/img/merida/wP.svg');}
.merida piece.knight.white {background-image: url('/res/img/merida/wN.svg');}
.merida piece.bishop.white {background-image: url('/res/img/merida/wB.svg');}
.merida piece.rook.white {background-image: url('/res/img/merida/wR.svg');}
.merida piece.queen.white {background-image: url('/res/img/merida/wQ.svg');}
.merida piece.king.white {background-image: url('/res/img/merida/wK.svg');}
.merida piece.pawn.black {background-image: url('/res/img/merida/bP.svg');}
.merida piece.knight.black {background-image: url('/res/img/merida/bN.svg');}
.merida piece.bishop.black {background-image: url('/res/img/merida/bB.svg');}
.merida piece.rook.black {background-image: url('/res/img/merida/bR.svg');}
.merida piece.queen.black {background-image: url('/res/img/merida/bQ.svg');}
.merida piece.king.black {background-image: url('/res/img/merida/bK.svg');}
